# Bing Translator Web session cache.
# These values are generated automatically on the first translation.
TRANSLATE_KEY=
TRANSLATE_TOKEN=
TRANSLATE_KEY_TIMESTAMP=
TRANSLATE_IG=
TRANSLATE_IID=
TRANSLATE_HOST_URL=
